---
import '@shikijs/twoslash/style-classic.css'
import '../styles/global.css'

const { frontmatter: { title, description, tags, author, date } } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/elysia.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="canonical" content="https://justuseelysia.com" />

		<meta name="description" content={description} />
		<meta name="keywords" content={tags.join(', ')} />
		<meta name="author" content={author} />
		<meta name="date" content={date} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="https://justuseelysia.com/assets/cover.webp" />
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1080" />
		<meta property="og:image:alt" content="Just use Elysia Cover Image" />
		<meta property="og:url" content="https://justuseelysia.com" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://justuseelysia.com/assets/cover.webp" />
		<meta name="twitter:image:alt" content="Just use Elysia Cover Image" />
		<meta name="twitter:creator" content="@saltyaom" />

		<title>Just use Elysia</title>
	</head>
	<body>
		<header class="flex justify-center items-center gap-4 w-full h-16 mt-20 mb-16">
			<img src="/assets/elysia.svg" alt="Elysia Logo" class="size-16" />
			<h1 class="text-4xl md:text-5xl font-bold text-black dark:text-white m-0">Just use Elysia</h1>
		</header>

		<div class="fixed z-20 top-0 left-0 hidden md:flex justify-center items-center w-full h-screen pointer-events-none">
			<div class="flex justify-between max-w-3xl w-full h-full mx-auto px-2">
				<div class="w-px h-full bg-gray-200" />
				<div class="w-px h-full bg-gray-200" />
			</div>
		</div>

		<article class="relative prose prose-teal dark:prose-invert max-w-2xl mx-auto px-2 lg:px-0 [&>p>img]:rounded-xl [&>pre]:rounded-xl">
			<slot />
		</article>

		<section class="max-w-2xl mx-auto px-4 md:px-0 mb-8">
			<h3 class="text-gray-500 dark:text-gray-300 mb-2">
				Just visit the website (it's pretty too)
			</h3>
			<a href="https://elysiajs.com">
				<img class="aspect-video rounded-2xl bg-gray-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 hover:scale-105 focus:scale-105 hover:shadow-xl focus:shadow-xl transition-all ease-out duration-350" src="/assets/elysia-cover.webp" alt="Elysia cover" title="Visit Elysia documentation" />
			</a>
			<small class="text-gray-400 mt-2">Yeah, Elysia got an anime girl mascot drew by maintainer (SaltyAom)</small>
		</section>

		<footer class="text-sm text-gray-400 max-w-2xl mx-auto px-4 md:px-0 mb-8">
			<p>
				Inspired by
				<a href="https://motherfuckingwebsite.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">bettermotherfuckingwebsite.com</a>,
				<a href="https://perfectmotherfuckingwebsite.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">perfectmotherfuckingwebsite.com</a>,
				<a href="https://justfuckingusehtml.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">justfuckingusehtml.com</a>,
				<a href="https://justfuckingusereact.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">justfuckingusereact.com</a>
				<a href="https://justfuckingusetailwind.com" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">justfuckingusetailwind.com</a>
			</p>

			<p class="mt-4">
				Written by SaltyAom
				<a href="https://x.com/saltyaom" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">X</a>,
				<a href="https://github.com/saltyaom" target="_blank" rel="noopener noreferrer" class="underline underline-offset-2 hover:text-slate-900 dark:hover:text-white">GitHub</a>.
			</p>
		</footer>
	</body>
</html>
